[submodule "specgen_input_common"]
	path = specgen_input_common
	url = https://github.com/Access4Learning/specgen_input_common.git
[submodule "specgen_input_infra"]
	path = specgen_input_infra
	url = https://github.com/Access4Learning/specgen_input_infra.git
[submodule "sifxml2pescjson_source"]
	path = sifxml2pescjson_source
	url = https://github.com/nsip/sifxml2pescjson_source.git
[submodule "yaml2json"]
	path = yaml2json
	url = https://github.com/Access4Learning/yaml2json.git
