.tabs {
  display:block;
  height:100% !important;
  margin: 25px 0;
}
.content {
  background: white;
  padding: 10px;
  width:65em;
  border:none;
}
div.example {
	padding:0px;
	margin-top:0px;
  width:99%;
  height:100% !important;
}

div.tabs div.tab input {display:none;}
div.tabs div.tab label {display:block; color: #005696; font-weight:bold; font-size:medium;}
div.tabs div.tab label img {display:none;}
