.tabs {
  position: relative;   
  clear: both;
  display:block;
  min-height:32em;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab label:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #3399ff;
}

.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  width:65em;
  height:30em;
}
div.example_parent {
	height:30em;
}
div.example {
	padding:0px;
	margin-top:0px;
	width:99%;
}

[type=radio]:checked ~ label {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #3399ff;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

label img {
	position:relative;
	top:4px;
	width:20px;
}

[type=radio]:checked ~ label img {
	border:none;
}
